extends layout

block content
  #single
    h3 Picture by #{image.owner} uploaded at #{image.displayDate}
    img(src= image.displayUrl)
    p= image.description
    h4 Metadata:
    ul
    each val, key in image.metadata
      li #{key}:
        strong= val
